In [4]:
students = [
    {
        "id": "100001",
        "student": "Ada Lovelace",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [70, 91, 82, 71],
        "pets": [{"species": "horse", "age": 8}],
    },
    {
        "id": "100002",
        "student": "Thomas Bayes",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [75, 73, 86, 100],
        "pets": [],
    },
    {
        "id": "100003",
        "student": "Marie Curie",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [70, 89, 69, 65],
        "pets": [{"species": "cat", "age": 0}],
    },
    {
        "id": "100004",
        "student": "Grace Hopper",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [73, 66, 83, 92],
        "pets": [{"species": "dog", "age": 4}, {"species": "cat", "age": 4}],
    },
    {
        "id": "100005",
        "student": "Alan Turing",
        "coffee_preference": "dark",
        "course": "web development",
        "grades": [78, 98, 85, 65],
        "pets": [
            {"species": "horse", "age": 6},
            {"species": "horse", "age": 7},
            {"species": "dog", "age": 5},
        ],
    },
    {
        "id": "100006",
        "student": "Rosalind Franklin",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [76, 70, 96, 81],
        "pets": [],
    },
    {
        "id": "100007",
        "student": "Elizabeth Blackwell",
        "coffee_preference": "dark",
        "course": "web development",
        "grades": [69, 94, 89, 86],
        "pets": [{"species": "cat", "age": 10}],
    },
    {
        "id": "100008",
        "student": "Rene Descartes",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [87, 79, 90, 99],
        "pets": [{"species": "cat", "age": 10}, {"species": "cat", "age": 8}],
    },
    {
        "id": "100009",
        "student": "Ahmed Zewail",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [74, 99, 93, 89],
        "pets": [{"species": "cat", "age": 0}, {"species": "cat", "age": 0}],
    },
    {
        "id": "100010",
        "student": "Chien-Shiung Wu",
        "coffee_preference": "medium",
        "course": "web development",
        "grades": [82, 92, 91, 65],
        "pets": [{"species": "cat", "age": 8}],
    },
    {
        "id": "100011",
        "student": "William Sanford Nye",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [70, 92, 65, 99],
        "pets": [{"species": "cat", "age": 8}, {"species": "cat", "age": 5}],
    },
    {
        "id": "100012",
        "student": "Carl Sagan",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [100, 86, 91, 87],
        "pets": [{"species": "cat", "age": 10}],
    },
    {
        "id": "100013",
        "student": "Jane Goodall",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [80, 70, 68, 98],
        "pets": [{"species": "horse", "age": 4}],
    },
    {
        "id": "100014",
        "student": "Richard Feynman",
        "coffee_preference": "medium",
        "course": "web development",
        "grades": [73, 99, 86, 98],
        "pets": [{"species": "dog", "age": 6}],
    },
]

In [30]:
# 1. How many students are there?
len(students)

14

In [18]:
# 2. How many students prefer light coffee? For each type of coffee roast?

def light_coffee(x):
    n = 0
    for i in range(0,14):
        if x[i]['coffee_preference'] == 'light':
            n = n + 1
    return n
    
print(light_coffee(students))

def coffee_type(x):
    a = 0
    b = 0
    c = 0
    for i in range(0,14):
        if x[i]['coffee_preference'] == 'light':
            a = a + 1
        if x[i]['coffee_preference'] == 'medium':
            b = b + 1
        if x[i]['coffee_preference'] == 'dark':
            c = c + 1
    return f"light: {a}; medium: {b}; dark: {c}"

coffee_type(students)

3

'light: 3; medium: 6; dark: 5'

In [ ]:
# 3. How many types of each pet are there?
# Breakdown questions

# # access the pet type info
# print (students[0]['pets'][0]['species'])

# # pets is a list of dicts and it can be empty
# print(len(students[0]['pets']))
# print(len(students[1]['pets']))
# print(len(students[4]['pets']))

# # find how many unique pets type the students have
# # strategy and test:
# # 1. put each student's pets species into a list

# student_1 = [(students[0]['pets'][0]['species'])]
# print(student_1)
# student_8 = [(students[4]['pets'][n]['species'])for n in range (0,3)]
# print(student_8)

# # 2. then combind the list and remove duplicates by set()

# print(student_1 + student_8)
# student_1_and_student_8 = (set(student_1 + student_8))
# print(student_1_and_student_8)

# # 3. cout the set by len()
# len(student_1_and_student_8)

In [53]:
# Since my strategy is working, so let's put them together

def pets_type(x):
    n = []
    for i in range (0,13):
        a = len(students[i]['pets'])
        if a == 0:
            n = n
        if a != 0:
            n = n + [(students[i]['pets'][n]['species'])for n in range (0,a)]
    return len(set(n))

pets_type(students)

3

In [14]:
# Q4: find how many grades the first student has
len(students[0]['grades'])
# use for loop to find the rest and put them in an empty list

def output(y):
    for i in range(0,13):
        print(f"Student {i+1} grade: total {y[i]}")
    
def number_of_grades(x):
    n = []
    for i in range (0, 13):
        n.append(len(students[i]['grades'])) 
    return output(n)

number_of_grades(students)

# Yes, they have all the same grades

Student 1 grade: total 4
Student 2 grade: total 4
Student 3 grade: total 4
Student 4 grade: total 4
Student 5 grade: total 4
Student 6 grade: total 4
Student 7 grade: total 4
Student 8 grade: total 4
Student 9 grade: total 4
Student 10 grade: total 4
Student 11 grade: total 4
Student 12 grade: total 4
Student 13 grade: total 4

In [42]:
# Q5: What is each student's grade average?

# student's grade is a list so use mean()
mean(students[0]["grades"])

# use FOR LOOP to print out every student's mean grade:

from statistics import mean

def output(y):
    for i in range(0,13):
        print(f"Student {i+1} avg. grade: {y[i]}")
    
def mean_grade(x):
    n = []
    for i in range (0, 13):
        n.append(mean(students[i]["grades"])) 
    return output(n)
        
mean_grade(students)

Student 1 avg. grade: 78.5
Student 2 avg. grade: 83.5
Student 3 avg. grade: 73.25
Student 4 avg. grade: 78.5
Student 5 avg. grade: 81.5
Student 6 avg. grade: 80.75
Student 7 avg. grade: 84.5
Student 8 avg. grade: 88.75
Student 9 avg. grade: 88.75
Student 10 avg. grade: 82.5
Student 11 avg. grade: 81.5
Student 12 avg. grade: 91
Student 13 avg. grade: 79

In [48]:
# A simple way instead for Q5: 

def mean_grade(x):
    for i in range (0, 13):
        print(f"Student {i} avg. grade:", mean(students[i]["grades"]))

mean_grade(students)

Student 0 avg. grade: 78.5
Student 1 avg. grade: 83.5
Student 2 avg. grade: 73.25
Student 3 avg. grade: 78.5
Student 4 avg. grade: 81.5
Student 5 avg. grade: 80.75
Student 6 avg. grade: 84.5
Student 7 avg. grade: 88.75
Student 8 avg. grade: 88.75
Student 9 avg. grade: 82.5
Student 10 avg. grade: 81.5
Student 11 avg. grade: 91
Student 12 avg. grade: 79

In [50]:
# Q6: How many pets does each student have?
# similar stragegy for the grade question

def pets_number(x):
    for i in range (0, 13):
        print(f"Student {i} pets number:", len(students[i]["pets"]))

pets_number(students)

Student 0 pets number: 1
Student 1 pets number: 0
Student 2 pets number: 1
Student 3 pets number: 2
Student 4 pets number: 3
Student 5 pets number: 0
Student 6 pets number: 1
Student 7 pets number: 2
Student 8 pets number: 2
Student 9 pets number: 1
Student 10 pets number: 2
Student 11 pets number: 1
Student 12 pets number: 1

In [52]:
# Q7: How many students are in web development? data science?
# similar to Q2
# use FOR LOOP to count

def course_sum(x):
    n_web = 0
    n_data = 0
    for i in range(0,14):
        if students[i]["course"] == "web development":
            n_web = n_web + 1
        if students[i]["course"] == "data science":
            n_data = n_data + 1
    return f"web development:{n_web} students; data science: {n_data} students"

course_sum(students)

'web development:7 students; data science: 7 students'

# Q8: What is the average number of pets for students in web development?

In [19]:
# Step 1: find out the total number of pets for students in web development.
    # List the pets number for each student in web development using list comprehension
# Step 2: Avg = Sum()/Len()

len(students[0]["pets"]) # number of pets for 1st student

pets_number_list = [len(students[i]["pets"]) for i in range(0,14) if students[i]["course"] == "web development"]

pets_number_list # valid

avg_pets = sum(pets_number_list)/len(pets_number_list)

print(f"The average number of pets for students in web development is: {avg_pets}")

[1, 1, 3, 1, 1, 1, 1]
The average number of pets for students in web development is: 1.2857142857142858

In [21]:
# How about the average number of pets for students in data science? 

pets_number_list = [len(students[i]["pets"]) for i in range(0,14) if students[i]["course"] == "data science"]

pets_number_list # valid

avg_pets = sum(pets_number_list)/len(pets_number_list)

print(f"The average number of pets for students in data science is: {avg_pets}")

[0, 2, 0, 2, 2, 2, 1]
The average number of pets for students in data science is: 1.2857142857142858

# Q9: What is the average pet age for students in data science?

In [47]:
# Similar strategy to Q8:
# List all the pet age for students in data science

students[0]["pets"][0]["age"] # It requires two indices to access th pet age so two loops are needed. 

# The nested loop returns a list of pet age for each student in data science
    # take 4th student for example

t_pet_number = len(students[3]["pets"])
t_pet_number # valid

t_pet_age_list = []
for i in range(0, pet_number):
    t_pet_age_list.append(students[3]["pets"][i]["age"])

t_pet_age_list # valid

# The outside loop goes through each student in data science
# avg = sum()/len()

pet_age_list = []

for i in range(0,14):
    if students[i]["course"] == "web development":
        continue
    elif students[i]["course"] == "data science":
        if len(students[i]["pets"]) == 0:
            continue
        else:
            for ii in range(0,len(students[i]["pets"])):
                pet_age_list.append(students[i]["pets"][ii]["age"])

pet_age_list # valid

avg_pet_age = sum(pet_age_list)/len(pet_age_list)
print(avg_pet_age)

5.444444444444445

# Q10: What is most frequent coffee preference for data science students?

In [64]:
# Stragety: to create a frequency table (list of dicts) for coffee preference then 
# sort the table(list of dicts) based on its value in a desencding order. The top row will be the answer.
   
# How many coffee preference for data science students?

coffee_preference = []

for i in range(0,14):
    if students[i]["course"] == "web development":
        continue
    elif students[i]["course"] == "data science":
        coffee_preference.append(students[i]["coffee_preference"])

coffee_preference # valid
set(coffee_preference) # valid: two coffee preference: dark and medium

# create a list of two dicts of which labels are dark and medium

f_table_cp = [
    {"coffee_preference":"medium","frequency":0}, 
    {"coffee_preference":"dark","frequency":0}
]

f_table_cp # valid

# find out the frequency for each coffee preference:

for i in range(0,14):
    if students[i]["course"] == "web development":
        continue
    elif students[i]["course"] == "data science":
        if students[i]["coffee_preference"] == "medium":
            f_table_cp[0]["frequency"] += 1
        if students[i]["coffee_preference"] == "dark":
            f_table_cp[1]["frequency"] += 1

f_table_cp # valid: medium: 4; dark: 3

# sort the list of dicts in descending order by using sorted and lambda

f_table_cp = sorted(f_table_cp, key = lambda i: i['frequency'], reverse = True) # desc order
f_table_cp # valid

print(f_table_cp[0]["coffee_preference"])

medium